@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* animations  */

@keyframes fadeInDown {
    0% {
      opacity: 0;
      transform: translateX(-100px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }


.container {
  width: 100%;
  margin: 3% 0;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color:transparent

}

.card {
  border-radius: 10px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
  width: 600px;
  height: 260px;
  background-color: #ffffff;
  padding: 10px 30px 40px;
  animation: fadeInDown 2s;
  /* transition: all 2s ease; */
}

.card h3 {
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  
}

.drop_box {
  background-color: aliceblue;
  margin: 10px 0;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 3px dotted #a3a3a3;
  border-radius: 5px;
}

.drop_box h4 {
  font-size: 16px;
  font-weight: 400;
  color: #2e2e2e;
  margin-bottom: 3px;
}

.drop_box p {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 12px;
  color: #a3a3a3;
}

.my-btn {
  text-decoration: none;
  background-color: #005af0;
  color: #ffffff;
  padding: 7px 20px;
  border: none;
  outline: none;
  transition: 0.3s;
  border-radius: 10px;
}

.my-btn:hover{
  text-decoration: none;
  background-color: #ffffff;
  color: #005af0;
  border: none;
  outline: 1px solid #010101;
  cursor: pointer;
}
.form input {
  margin: 10px 0;
  width: 100%;
  background-color: #e2e2e2;
  border: none;
  outline: none;
  padding: 12px 20px;
  border-radius: 4px;
}

.confirm-upload{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #ddd;
  z-index: 9999;
  transition: transform 0.3s ease-in-out;
}

.progress-bar.hidden {
  transform: translateY(-100%);
}

.file-name{
  font-size: 17px;
  animation: none;
}
