  
  .page-not-found{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section{
    padding: 20px;
    margin: 0 auto;
    text-align: center;
  }
  
  .section .error{
    margin-bottom: 0;
    margin-top: 20%;
    font-size: 150px;
    color: #008B62;
    text-shadow: 
      1px 1px 1px #00593E,    
      2px 2px 1px #00593E,
      3px 3px 1px #00593E,
      4px 4px 1px #00593E,
      5px 5px 1px #00593E,
      6px 6px 1px #00593E,
      7px 7px 1px #00593E,
      8px 8px 1px #00593E,
      25px 25px 8px rgba(0,0,0, 0.2);
  }
  
  .page{
    margin: 2rem 0;
    font-size: 20px;
    font-weight: 600;
    color: #444;
  }
  
  .back-home{
    border: 2px solid #222;
    color: #d1cccc;
    text-transform: uppercase;
    font-weight: 600;
    padding: 0.75rem 1rem 0.6rem;
    transition: all 0.2s linear;
    box-shadow: 0 3px 8px rgba(0,0,0, 0.3);
    border-radius: 7px;
    cursor: pointer;
    font-size: 30px;
    width: 35%;
  }
  .back-home:hover{
    background: #cfcccc;
    color: #ff7070;
  }