
html{
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

:root {
  --navbar-bg-color: #ffffff;
  --navbar-text-color: #333333;
  --navbar-text-color-active: #4e54c8;
  --text-hover-color: #4e54c8;
  --bg-gradient-start: #ededed;
  --bg-gradient-mid: #e9edf2;
  --bg-gradient-end: #e9eef7;
}

body{
  background-color: aliceblue;
}

.App{
  background-color: rgb(255, 255, 255);
  height: 100vh;
}











