
html{
  border: 7px solid black;
  height: 100vh;
  overflow: hidden;
}

body{
  background-color: rgb(243, 244, 246);
  border-radius: 5px;
  overflow: hidden;
  
}

.App{
  background-color: bisque;
  height: 100vh;
}
